html, body {
	margin: 0;
	height: 0;
	width: 100vw;
	height: 100vh;
	background: #faf8ef;
	color: #776e65;
	font-family: arial, sans-serif;
}
#container {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.game-head {
	width: 450px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.title {
	font-size: 1.5em;
}
.score-box {
	margin-left: auto;
	background: #bbada0;
	color: #776e65;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}
.score-head {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
}
.score {
	font-weight: bold;
}
.game-box {
	background: #bbada0;
	width: 450px;
	height: 450px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
}
.grid-box {
	height: 430px;
	width: 430px;
	position: absolute;
}
.row {
	display: flex;
	margin-bottom: 10px;
}
.box {
	height: 100px;
	width: 100px;
	border-radius: 5px;
	margin-right: 10px;
	background: rgba(238, 228, 218, 0.35);
}
.box:last-child {
	margin-right: 0;
}
.row:last-child {
	margin-bottom: 10px;
}
.new-tile {
	height: 100px;
	width: 100px;
	border-radius: 5px;
	margin-right: 10px;
	position: absolute;
	background: #eee4da;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
	transition: 0.1s all ease-in-out;
}
.new-tile.new {
	animation: create 0.3s ease-in-out forwards;
}
@keyframes create {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
.new-tile.anim {
	animation: scale 0.3s ease-in-out forwards;
}
@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@media all (max-width: 520px) and (orientation: portrait) {
	
}